.modal-container{
    border-radius: 10px;
    padding: 3rem;
    margin: 5rem auto;
    width: 40%;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-row{
    width: 90%;
}

.form-row > *{
    width: 100%;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.form-row-btn{
    display: flex;
    align-content: stretch;
    justify-content: stretch;
    gap: 1rem;
}

.input{
    border-radius: 5px;
    border: 1px solid rgb(192, 192, 192);
    padding: 1rem;
    font-size: large;

    transition: 0.1s ease;
}

.input:focus{
    outline: none;
    border: 1px solid rgb(255, 141, 160);;
}