.manage-user-container{
    padding: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.table-container{
    overflow: scroll;
    height: 80%;
}

.profile-container{
    padding: 2rem;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: space-around;
}

.profile-row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: rgb(85, 85, 85);


    padding: 3rem;
    width: 40%;
    border: 1px solid gray;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
}

.purchase-cards{
    height: 90%;
    overflow: scroll;
    display: grid;
    gap: 2rem;
}

.card{
    display: grid;
    gap: 1rem;
    font-size: large;

    color: white;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgb(210, 177, 114);;
}

.user-information-card{
    display: grid;
    gap: 1rem;

    font-size: larger;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1rem;
}