*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

.App{
    display: flex;
}

thead {
    background-color: #eeeeee;
}

table, tr, td, th{
    border: 2px solid #eeeeee;
    padding: 2rem 1.5rem;
    border-collapse: collapse;
}

.btn-p {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 10rem;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn-td{
    display: flex;
    gap: 1rem;
}

.btn-profile{
    background-color: dodgerblue;
}

.btn-edit {
    background-color: rgb(255, 174, 0);
}

.btn-delete{
    background-color: rgb(197, 70, 70);
}

.btn-create{
    background-color: rgb(255, 141, 160);
}

.btn-cancel{
    background-color: black;
}

/*SIDEBAR*/
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 20%;
    padding: 2rem;
    background-color: #eeeeee;
    height: 100vh;
}

.item-list{
    display: grid;
    list-style: none;
}


.item-link{
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    font-size: larger;
    color: rgb(85, 85, 85);
    padding: 2rem 1rem;
    text-decoration: none;
    display: block;
    
    transition: 0.1s ease all;
}

.item-link:hover{
    background-color: rgb(255, 141, 160);
    color: white;
}


.main-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
